* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(43, 226, 49, 0.751);
  text-align: center;
}

.container {
  height: 70vh;
  /* width: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 16vmin;
  width: 16vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 10px 5px 5px rgba(186, 9, 90.55);
  font-size: 8vmin;
  color: #b0413e;
  background-color: rgba(255, 255, 0, 0.584);
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#msg {
  font-size: 4vmin;
  color: #ffffc7;
}

/* .msg-container {
  
}  */
.hide {
  display: none;
}
