* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 127, 80, 0.674);
}
.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
  margin: 2rem 0 1rem 0;
}
form input,
select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.dropdown i {
  font-size: 2rem;
  margin-top: 1rem;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  /* background-color: rgba(255, 0, 0, 0.719); */
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
